dockerImages/
dockerImage/*
Docker/*
*/docker_files
build/
build/*
__tests__
*.tar

package-lock.json

scripts/local/*
scripts/misc/*
scripts/stage/*

coverage/*


*.tar

# ide
.idea
.idea/*

.DS_Store
*/.DS_Store


